html, body {
  margin: 0;
  padding: 0;
  height: 157%;
}

canvas {
  display: block;
}

/* dette er videoer, boksene og knappene*/
.flex-container{
  display: flex;
  flex-wrap: nowrap;
  background-color: #3E588C;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  margin: auto;
  align-items: center;

}

.flex-container > button {
  margin: 0 6%;

}

button{
  width: 10%;
  height: 70%;
  padding: 1%;

  border-radius: 55px;
  font-size: large;
}

.boks1{
  background-color: #BBD3F2;
  margin: 2% 20%;
  padding: 4%;
  border-radius: 55px;
  text-align: center;
  font-size: 500%;
}

.boks2{
  background-color: #3E588C;
  height: 100%;
  padding: 1%;
  padding-bottom: 0.8%;
  border-radius: 55px;
  margin: 2% 20%;
}

.boks-til-fakta{
  background-color: #BBD3F2;
  padding: 1%;
  border-radius: 45px;
  text-align: center;
  font-size: 400%;
  margin: 1% 15%;
}

.beholder{
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 35%;
  grid-template-areas: "a b"
                       "c d"
                       "e e"
                       "f f";
}

.boks3{
  background-color: #BBD3F2;
  grid-area: a;
  margin: 1%;
  height: 50%;
  margin-right: 2.5%;
  margin-bottom: 6%;
  border-radius: 45px;
  overflow: scroll;
  text-align: center;
}

.boks4{
  background-color: #BBD3F2;
  grid-area: b;
  padding: 0 5%;
  padding-right: 5%;
  margin: 1%;
  margin-bottom: 6%;
  height: 50%;
  border-radius: 45px;
  overflow: scroll;
  text-align: center;
}

.boks5{
  grid-area: c;
  margin-top: 4%;
}

.boks6{
  grid-area: d;
  margin-top: 4%;
}

.boks-til-film{
  background-color: #BBD3F2;
  grid-area: e;
  border-radius: 55px;
  text-align: center;
  font-size: 400%;
  margin: 4% 15%;
}

.filmen{
  grid-area: f;
  width: 100%;
  height: 100%;
  border-radius: 45px;
}

/* styre controllen på størrelse av skrift eller bilder */

.oslo-logon{
  width: 10%;
  height: 10%;
  margin-left: 4%;
  margin-right: 1%;
}

.menu-icon{
  width: 30%;
  height: 100%;
}

.close-icon{
  width: 30%;
  height: 30%;
}

.første-bildet{
  margin: 1%;
  width: 98%;
  border-radius: 45px;
}

.andre-bildet{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
}

.tredje-bildet{
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
}

a{
  color: black;
  text-decoration: none;
  display: center;
}

.boks-til-fakta{
  margin-top: 10%;
  margin-bottom: 6%;
}

/* dette er min menu */

.menuItem {
  display: block;
  margin: 3rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 8px;
  background: white;
  cursor: pointer;
  height: 7%;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(500%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 80%;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
  margin-block: 0;
}

.showMenu {
  transform: translateY(-2%);
  transform: translatex(400%);
}

/* slutten av menuen */