html, body {
  margin: 0;
  padding: 0;
  height: 157%;
}

canvas {
  display: block;
}

/* dette er videoer, boksene og knappene*/
.flex-beholder{
  display: flex;
  flex-wrap: nowrap;
  background-color: #3E588C;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  margin: auto;
  align-items: center;

}

.flex-beholder > button {
  margin: 0 6%;

}

button{
  width: 10%;
  height: 70%;
  padding: 1%;
  border-radius: 55px;
  font-size: large;
}

.tittel{
  background-color: #BBD3F2;
  margin: 2% 20%;
  padding: 1%;
  border-radius: 55px;
  text-align: center;
  font-size: 500%;
  font-family: sans-serif;
}

.boks2{
  background-color: #3E588C;
  height: 100%;
  padding: 3%;
  padding-bottom: 0.8%;
  border-radius: 55px;
  margin: 2% 20%;
}

.fakta-tittel{
  background-color: #BBD3F2;
  padding: 1%;
  border-radius: 45px;
  text-align: center;
  font-size: 400%;
  margin-top: 5%;
  margin-bottom: 6%;
  margin-left: 15%;
  margin-right: 15%;
}

.beholder{
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 30%;
  grid-template-areas: "a b"
                       "c d"
                       "e e"
                       "f f";
}

.rollene{
  background-color: #BBD3F2;
  grid-area: a;
  height: 86%;
  padding-left: 15%;
  padding-right: 15%;
  margin-right: 3%;
  border-radius: 45px;
  overflow: scroll;
  text-align: center;
}

.historien{
  background-color: #BBD3F2;
  grid-area: b;
  height: 86%;
  padding-left: 15%;
  padding-right: 15%;
  border-radius: 45px;
  overflow: scroll;
  text-align: center;
}

.bildet-av-anton{
  grid-area: c;
}

.bildet-av-nicholas{
  grid-area: d;
}

.film-tittel{
  background-color: #BBD3F2;
  grid-area: e;
  border-radius: 55px;
  text-align: center;
  padding-top: 0.5%;
  font-size: 400%;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  height: 60%;
}

.griden-til-filmen{
  grid-area: f;
}

/* styre controllen på størrelse av skrift eller bilder */

.oslo-logon{
  width: 10%;
  height: 10%;
  margin-left: 4%;
  margin-right: 1%;
}

.close-icon{
  width: 30%;
  height: 30%;
}

.første-bildet{
  width: 100%;
  border-radius: 45px;
}

.andre-bildet{
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
}

.tredje-bildet{
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
}

a{
  color: black;
  text-decoration: none;
  display: center;
}

.boks-til-fakta{
  margin-top: 10%;
  margin-bottom: 6%;
}

.filmen{
  width: 100%;
  height: 100%;
  border-radius: 45px;
}

/* dette er min menu knapp */

.menu-ikonen{
  width: 30%;
  height: 100%;
}

.menuItem {
  display: block;
  margin: 3rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 8px;
  background: white;
  cursor: pointer;
  height: 7%;
}

.lukkeIkonen {
  display: none;
}

.menu {
  position: fixed;
  transform: translateX(500%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 80%;
  bottom: 0;
  z-index: 99;
  background: #07142f;
  color: white;
  list-style: none;
  padding-top: 4rem;
  margin-block: 0;
}

.showMenu {
  transform: translatex(400%);
}

/* slutten av menuen */